Source: mssf-qt
Section: libs
Priority: extra
Maintainer: Brian McGillion <brian.mcgillion@symbio.com>
Build-Depends: cdbs, debhelper (>= 7.0), libqt4-dev, libaegis-crypto-dev, libcreds2-dev, doxygen
Standards-Version: 3.8.4
Vcs-Git: http://git.gitorious.org/meego-platform-security/mssf-qt.git
Vcs-Browser: http://meego.gitorious.org/meego-platform-security/mssf-qt

Package: mssf-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, aegis-crypto, libcreds2
Description: Qt Wrapper for MSSF components
 Wrap a number of Mssf libraries with Qt API.

Package: mssf-qt-dev
Section: libdevel
Architecture: any
Depends: mssf-qt (=${binary:Version}), libaegis-crypto-dev, libcreds2-dev
Description: Development files for mssf-qt.
 Shared headers and libraries for developmnet with mssf-qt.

Package: mssf-qt-doc
Section: doc
Architecture: all
Description: Mssf-qt documentation.
 Documentation on the use of Mssf-crypto.
