#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

PKGVERSION      := $(shell dpkg-parsechangelog | grep ^Version:.* | cut -d ' ' -f 2)
DEB_QMAKE_ARGS += VERSION=$(PKGVERSION)

DEB_QMAKE_CONFIG_VAL += maemo

# by default - do not export anything
DEB_QMAKE_ARGS += "QMAKE_CXXFLAGS *= -fvisibility=hidden -fvisibility-inlines-hidden"

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CXXFLAGS = -Werror -ggdb -Wall
        DEB_QMAKE_CONFIG_VAL += debug
	# cdbs qmake.mk does not handle DEBUG mode properly, so add it manually
	DEB_QMAKE_ARGS += "QMAKE_CXXFLAGS *= $(CXXFLAGS)"
else
        DEB_QMAKE_CONFIG_VAL += release
	CXXFLAGS += -Werror
endif

ifneq (,$(findstring gcov,$(DEB_BUILD_OPTIONS)))
	DEB_QMAKE_CONFIG_VAL += cov
endif
